version: '3'

services:

  mongo:
    image: mongo:latest
    container_name: mongo_container
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: django_backend
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
