name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  backend-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - run: |
          cd backend
          pip install -r requirements.txt

      - run: |
          cd backend/taskmanager
          python manage.py test


  frontend-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - run: |
          cd frontend
          npm install

      - run: |
          cd frontend
          npm test -- --watchAll=false


  docker-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: |
          cd backend
          docker build -t backend-image .

      - run: |
          cd frontend
          docker build -t frontend-image .
